<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="twinfinder:Username" value="nobody"/>
    <add key="twinfinder:Password" value="123456"/>
    <add key="twinfinder:SessionExpirationMinutes" value=""/>
  </appSettings>
  <!--
    Eine Beschreibung der Änderungen von 'web.config' finden Sie unter 'http://go.microsoft.com/fwlink/?LinkId=235367'.

    Die folgenden Attribute können für das <httpRuntime>-Tag festgelegt werden.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="TwinFinderWebServiceTypeBehaviors">
          <!-- Add the following element to your service behavior configuration. -->
          <serviceMetadata httpsGetEnabled="true" httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="TwinFinderWebServiceEndpointBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding writeEncoding="utf-8" transferMode="Buffered">
          <readerQuotas maxArrayLength="2147483647" maxDepth="40000" maxStringContentLength="2147483647"/>
        </binding>
      </webHttpBinding>
      <customBinding>
        <binding name="customBinding0">
          <binaryMessageEncoding>
            <readerQuotas maxStringContentLength="2147483647"/>
          </binaryMessageEncoding>
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="TwinFinderWebServiceTypeBehaviors" name="TwinFinder.Webservice.TwinFinderWebService">
        <endpoint address="basic" binding="basicHttpBinding" bindingName="customBinding0" contract="TwinFinder.Webservice.ITwinFinderWebService"/>
      </service>
    </services>
    <protocolMapping>
      <!--<add binding="webHttpBinding" scheme="https" />
      <add binding="basicHttpsBinding" scheme="https" />
      <add binding="mexHttpBinding" scheme="https" />
      <add scheme="https" binding="basicHttpBinding" bindingConfiguration="customBinding0" />-->
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>