<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="customBinding0_ITwinFinderWebService" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webby">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://sk.webservices.dialogcrm.de/SkWebService.svc"
        behaviorConfiguration="webby" binding="webHttpBinding" contract="SkWebService.ISkWebService"
        name="Service1" />
      <endpoint address="http://localhost:58301/TwinFinderWebService.svc/basic"
        binding="basicHttpBinding" bindingConfiguration="customBinding0_ITwinFinderWebService"
        contract="TwinFinderWebservice.ITwinFinderWebService" name="customBinding0_ITwinFinderWebService" />
    </client>
  </system.serviceModel>
</configuration>